.wrap {
	position: relative;
	width: 100%;
	height: 100%;
	margin-bottom: 24px;
}

.form {
	display: flex;
	flex-flow: column wrap;
	& > * {
		margin-bottom: 12px;
	}
}

.btn-wrap {
	& > *:first-child {
		margin-right: 12px;
	}
	text-align: right;
}
