.list {
padding-bottom: 64px;
	@media screen and (max-width: 728px) {
		padding-left: 8px;
		padding-right: 8px;
	}
}

.title {
	text-align: center;
}

.list-title {
	margin-bottom: 16px;
}

.filters {
	margin-bottom: 24px;
}

.pagination {
	display: flex;
	justify-content: center;
}
